@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap');

#header {
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  color: black;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

 .container {
   margin: 2rem auto;
   width: 100%;
  background-color: #43616F;
  color: white;
  border: 2px solid #43616F;
  box-shadow: 5px 10px rgb(158, 194, 182);
} 

h1 {
  letter-spacing: .2rem;
}

h3 {
  border-bottom: 1px solid #5D7772;
  padding-bottom: 0.6rem
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  display: flex;
  justify-content: space-between;
  background-color: #152D2E;
  padding: 1rem;
  margin: 1.2rem 0;
  color: white;
  border: 2px inset rgb(211, 207, 207)
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 2px inset rgb(211, 207, 207);
}

.money-gained {
  color: #2ecc71;
}

.money-lost {
  color: #ff4500;
}

.form-control {
  background-color: #fff;
  border: 2px inset rgb(211, 207, 207);
  padding: .5rem;
}

label {
  display: inline-block;
  margin: 10px  0;
  color: black;
}

input[type='text'],
input[type='number']{
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 80%;
}

.btn {
  cursor: pointer;
  background-color: rgb(158, 194, 182);
  box-shadow: var(--box-shadow);
  color: rgb(255, 255, 255);
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #ff4500;
}

.delete-btn {
  cursor: pointer;
  background-color: #ff4500;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}
